.about-page {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 100%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 3rem;
  padding-top: 13rem;
  grid-template-areas:
    "history    .   ."
    ".    .   partners"
    ".   img   ."
    "fast    .   ."
    ".    .   deliv"
    "contact contact contact";
}

.heading {
  border-radius: 50px;
  grid-area: img;
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: -5px;
  font-size: 8rem;
  color: white;
  text-align: center;
}

.sub-titles {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: -10rem 0;
  font-size: 1.2rem;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  user-select: none;
}

.sub-titles:hover {
  box-shadow: 0 0 30px 25px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.sub-titles h2 {
  font-size: 2rem;
}

.sub-titles:nth-child(2) {
  grid-area: history;
  background-color: turquoise;
  border-radius: 25px;
}

.sub-titles:nth-child(3) {
  grid-area: partners;
  background-color: lightcoral;
  border-radius: 25px;
}

.sub-titles:nth-child(4) {
  grid-area: fast;
  background-color: rgb(35, 225, 70);
  border-radius: 25px;
}

.sub-titles:nth-child(5) {
  grid-area: deliv;
  background-color: lightsalmon;
  border-radius: 25px;
}
