@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Poppins, sans-serif;
}
header {
  background-color: rgba(32, 32, 32, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 7vh;
  z-index: 10;
  padding: 0 1.5rem;
  color: #eff9ff;
}

a {
  text-decoration: none;
}

nav > ul {
  list-style: none;
  display: flex;
}
nav > ul > li {
  padding: 2.5rem 1.5rem;
}
nav ul li a {
  font-size: 1.1rem;
  color: #eff9ff;
}

nav ul li a:hover {
  color: #92dafe;
}
.dropDown-menu {
  position: relative;
}
nav > ul > .dropDown-menu:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.4rem 0.4rem 0 0.4rem;
  border-color: #666 transparent transparent transparent;
  position: absolute;
  top: 3rem;
  right: 0;
}
nav > ul > .dropDown-menu:hover:after {
  border-width: 0 0.4rem 0.4rem 0.4rem;
  border-color: transparent transparent #92dafe transparent;
}

nav .dropDown-menu > ul {
  list-style: none;
  margin: 1.6rem 0 0;
  padding: 1rem 0;
  position: absolute;
  background-color: rgba(32, 32, 32, 0.8);
  width: 10rem;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.3);
  display: none;
}

nav .dropDown-menu:hover > ul {
  display: block;
}
nav .dropDown-menu li a {
  display: block;
  padding: 1rem;
}
