.background {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 7rem;
  text-align: center;
  background-image: url(../images/bg_orange.svg);
  color: #dfebfa;
}

.background h1 {
  font-size: 3rem;
  font-family: Poppins-SemiBold;
  color: #ffefd4;
}

.background > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orders {
  width: 100%;
  padding: 1rem;
}

.card {
  max-height: 7rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  text-align: center;
  transition: 0.5s;
  margin: 1rem;
  border-radius: 5px;
  color: black;
  background-color: #ffa348;
  box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.card:hover {
  max-height: 25rem;
  transition: 0.5s;
}

.card .row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.row2 {
  opacity: 0;
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease-in;
}

.card:hover .row2 {
  opacity: 1;
  transition: 0.5s ease-out;
}

.row2 ol {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.row2 ol > li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.row3 {
  padding: 0.5rem;
  border-top: 1px solid #9d3a0f;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 7rem;
  padding: 0.4rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: #dfebfa;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
}

button:hover {
  background-color: #f2f2f2;
}

button:active {
  transform: scale(0.95);
}
