{% extends 'base.html' %} {% block title %} {{name}} {% endblock %} {% block
content %}

<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/canteen.css')}}"
/>
<script defer src="{{ url_for('static', filename='js/canteen.js') }}"></script>

<div class="background">
  <div class="menu">
    <div class="heading">{{name}}</div>
    {% for category in menu_list %} {% for category_name, category_items in
    category.items() %}
    <h1>{{ category_name }}</h1>
    {% for item_name, item_price in category_items.items() %}
    <div class="item">
      <div class="left">{{item_name}}</div>
      <div class="right">
        {{item_price}}
        <select name="quantity" id="quantity">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    {% endfor %} {%endfor %} {% endfor %}
  </div>

  <form action=""></form>
</div>

{% endblock %}
