{% extends 'base.html' %} {% block title %} {{name}} {% endblock %} {% block
content %}

<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/canteen.css')}}"
/>
<script defer src="{{ url_for('static', filename='js/canteen.js') }}"></script>

<div class="background">

  <form action="/api/addOrder" method="POST">
  <div class="menu">
    <div class="heading">{{name}}</div>
    {% for category in menu_list %} {% for category_name, category_items in
    category.items() %}
    <h1>{{ category_name }}</h1>
    {% for item_name, item_price in category_items.items() %}
    <div class="item">
      <div class="left">{{item_name}}</div>
      <div class="right" data-price="{{item_price}}">
        {{item_price}}
        <select name="{{item_name}}" id="quantity">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    {% endfor %} {%endfor %} {% endfor %}
  </div>

  <div class="form">
    <div class="name">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" /><br /><br />
    </div>

    <div class="hostel">
      <label for="hostel">Hostel:</label>
      <select id="hostel" name="hostel">
        <option value="bakul">Bakul Nivas</option>
        <option value="parijaat">Parijaat</option>
        <option value="obh">Old Boys Hostel</option></select
      ><br /><br />
    </div>

    <div class="room-number">
      <label for="room-number">Room Number:</label>
      <input type="number" id="room-number" name="room-number" /><br /><br />
    </div>

    <div class="phone-number">
      <label for="phone-number">Phone Number:</label>
      <input type="tel" id="phone-number" name="phone-number" /><br /><br />
    </div>
    
    <table>
      <tr>
        <th>Travel Cost</th>
        <th>Food Cost</th>
        <th>Total Cost</th>
      </tr> 
      <tr>
        <td class="travel-cost">0</td>
        <td class="food-cost">0</td>
        <td class="total-cost">0</td>
      </tr>
    </table>
    <input type="hidden" name="cost" class="total-cost-hidden" value="0" />
    <input type="hidden" name="canteen" value="{{ name }}" />
    <input type="submit" value="Submit" />
  </div>

  </form>
</div>

{% endblock %}
