{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block content
%}

<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
<script defer src="{{ url_for('static', filename='js/index.js') }}"></script>


<div class="background">
  <div class="canteens">
    <div class="canteen" onclick="window.location.href='/canteen/tantra'">
      <img src="{{ url_for('static', filename='images/tantra.jpeg') }}"> 
      <div class="name strokeme">Tantra</div>
    </div>

    <div class="canteen" onclick="window.location.href='/canteen/bbc'">
      <img src="{{ url_for('static', filename='images/bbc.jpeg') }}"> 
      <div class="name strokeme">BBC</div>
    </div>

    <div class="canteen" onclick="window.location.href='/canteen/vc'">
      <img src="{{ url_for('static', filename='images/vc.jpeg') }}"> 
      <div class="name strokeme">VC</div>
    </div>
  </div> 
  <h1>IIITEats</h1> 
</div>

{% endblock %}
